.home-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-searchbar {
    padding-bottom: 2vh;
    width: 50%;
}


.home-searchbar input {
    width: 100%;
    font-size: large;
}


