body {
    margin: 0;
}

.navbar {
    display: flex;
    background-color: aqua;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
}

li a {   
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    background-color: blue;
    margin: 10px;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 2rem;
    font-size: xx-large;
    
}

li a:hover {
    background-color: blueviolet;
}

.nav-link.active {
  background-color: blueviolet;
}
